body{ background-color: rgb(186, 210, 107);
    border:dotted 5px black;

}

p, h1,h2,ol,ul{font-family: Arial, Helvetica, sans-serif; 
    margin-left: auto; 
    margin-right: auto;
   max-width: ; 1200px;
border:dotted 5px
padding; 1em;}



