/* Table of Content

1. Resets
2. page level styles
3.Typography
4. Utility styles
5. Header and Top Navigation
6. Program Navigation
7. Home page Content
8. Program pages
9. Media queries for larger viewpoints

*/
/********Resets******** */
*{
    margin: 0;
    padding: 0;
    border: none;
}
/* 2. page level styles*/

/*html{
    position: fixed;
    margin-top: 0;
    font-size: 20px;
    position: absolute;
    top: 50px;
}*/

body{
    font-family: sans-serif;
    line-height: 1.5em;
  
}

#wrapper{
   
    max-width: 1200px;
    margin: 0 auto;
    .input p, h1, h2, h3, h4{
        margin-bottom: 1em;
    }

}
input{
    border: solid 1px;
    padding: 3px;
}
/* ******4.Utilites****** */
.flex-container{
    display: flex;
    justify-content: space-between;
}


.img-responsive{
    width: 100%;
    float: right;
}

/*  *****3.Typography***** */
h1{
    font-size: 1.5rem; /* root font-size */
    line-height: 1em;
}
/* ******5.Header and top navigation******* */

header{
    width: 100%;
    float:left;
    margin-bottom: 0.5em;
   
}

.top-menu{
    padding: 0.5em;
    border: solid 1px black;
    background-color: white;
}
.top-menu ul li{
    display: inline;
    
    list-style: none;
    margin-right: 2.5em;
}

/* ******6.Program Navigation***** */
nav ul{
    list-style-type: none ;
}

.program-nav{
    height: 5em;
    width: 100%;
    float: left;
}

li.dropdown{
    border-bottom: solid 1px black;
    /*display: none;*/
}
.dropdown ul{ 
    list-style-type: none;
    display: none;
}
   

li.dropdown:hover ul{
    display: block;
}

.dropdown a{
    display: block;
    padding: 5px;
    color: black;
    text-decoration: none;
}
.dropdown li a{
    color: blue;
}

li.dropdown li:hover ul{
    color:yellow;
}
.expand{
    float:right;
}

/* *****7.Home Page Content****** */
.banner a{
    background-image: ul;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4em 2em;
    margin: 2em 0;
}

.banner a{
    color: white;
    text-shadow: 2px 2px 2px #000;
    font-size: larger;
    background-color: rgba(0, 0, 0, 0.5);
    display:block;
    padding: 0.5em;

}


/* *****8.Program Page******* */
.news{
    grid-column-start: 1;
    grid-column-end: 4;
}

.event{
    grid-column-start: 4;
}

/* *****9.Media Queries for Larger Viewpoints**** */
@media (min-width:768px){

}
.program-nav ul{
    justify-content: space-between;
    display: flex;
}
.program-nav li{
    width: 30%;
    position:relative;
}

.dropdown{
    display: block;
    position: absolute;
    background-color: white;
    border: solid 1px black;
    padding: 5px;
    width: 100%;
}

.program-nav li li{
    width: 100%;
}