/* Table of Content

1. Resets
2. page level styles
3.Typography
4. Utility styles
5. Header and Top Navigation
6. Program Navigation
7. Home page Content
8. Program pages
9. Media queries for larger viewpoints

*/
/********Resets******** */
*{
    margin:0 ;
    padding: 0;
    border: 0;
}
/* 2. page level styles*/

html{
    position: fixed;
    margin-top: 0;
    font-size: 20px;
    position: absolute;
    top: 50px;
}

body{
    font-family: sans-serif;
    line-height: 1.5em;
    margin: 0.5rem;
}

#wrapper{
    position: relative;
    margin-top: 50px; 
    max-width: 1200px;
    margin: 0; auto;

}
input{
    border: solid;1px
    padding: 3px;
}
/* ******4.Utilites****** */
.flex-container{
    display: flex;
    justify-content: space-between;
}

.larger-text{
    font-size: larger;
}

.img-responsive{
    width: 100%;
    .float-right:right;
}

/*  *****3.Typography***** */
h1{
    font-size: 1.5rem; /* root font-size */
    line-height: 1em;
}
/* ******5.Header and top navigation******* */

header{

    position: relative;
}
#top-menu{
    display:none;
    padding: 0.5;
    border: solid;black;
    background-color: white;
    clear: right;
    position: absolute;
    right:0;
    top:28px;
}
#top-menu ul{
    list-style: none;
    
}

/* ******6.Program Navigation***** */

/* *****7.Home Page Content****** */

/* *****8.Program Page******* */

/* *****9.Media Queries for Larger Viewpoints**** */