#wrapper{
    width:1200px;
   margin: 0 auto;
    background-color:white;

}

body{
    background-color: black;
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    float: left;
    background-color: lightgray;
}

nav ul{
    height: 2em;
}
    

nav li{
    list-style: none;
    display: inline;
    margin-left: 6em;
}
nav a{
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    text-transform: uppercase; 
    font-weight: bold;
}
header{
    width: 100%;
    float: left;
    background-color: lightgray;
    text-align: center;
}
.col-left{
    float:left;
    width:26%;
    margin:0 2%;
}
.col-left img{
    width: 100%;
}
.col-mid{
    width: 46%;
    float:left;
    margin:0 2%;
}
.col-mid img{
    width: 100%;
}
.col-right{
    width: 20%;
    float:left;
}
.col-right p{
    text-align: center;
    margin-top: 60%;
}
main{
    width: 100%;
    float: left;
    margin-top: 2%;
}
main img{
    width: 100%;
}
footer p{
   text-align: center;
   padding: 2%;
}

#container{
    background-color: #522929;
}
.rows{
    width: 98%;
    float:left;
    margin:1% auto;
}

.colums{
    width: 23%;
    float: left;
    margin: 0 1%;
}

.colums img{
    width: 100%;
}
.colums p{
    font-weight: bold;
    font-size: 1.5em;
    color: #fff;
}

nav a{
    color:black; 
}
nav a:hover{
    text-decoration: underline;
}
.playbutton:hover{
    color:red;
    text-decoration: underline;
}
.playbutton{
    color:black;
    text-decoration: none;
    display:inline-block;
    border: solid 1px darkgrey;
    padding: 10px;
    box-shadow: 2px 2px 2px darkgrey;
}