#wrapper{
    width:1200px;
   margin: 0 auto;
    background-color:white;

}
header{
    background-color: gray;
    background-image: ;
    background-repeat: no-repeat;
    background-position: ;

}
body{
    background-color: black;
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    background-color: gray;
    height: 2em;
    margin-bottom: .5em;
  
}
nav ul{


}
nav li{
    list-style: none;
    display: inline;
    margin-left: 1em;
}
nav a{
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    text-transform: uppercase;
  
    
}