#wrapper{
    width:1200px;
    margin-left:auto;
    margin-right:auto;
    background-color:white;
    padding: 1em;
}
header{
    background-color: gray;
    background-image: ;
    background-repeat: no-repeat;
    background-position: ;

}
body{
    background-color: black;
}
nav li{
    list-style: none;
    display: inline;
}